.jumbotron{
    background:rgba(0,0,0,0.3);
    padding:5px;
    margin:200px 100px 20px 100px;
    text-align: center;
}

#message, #message1, #message2{
    margin-right:20%;
    margin-left:20%;
}

#createroom, #bookroom, #checkroom, #sendfeedback{
    background-color:rgb(143, 209, 209);
    margin-top:5%;
    margin-bottom:5%;
    padding:10px;
    border-style: dotted;
    border-color: black;
}

textarea{
    margin: 0px;
}